{% extends 'bootstrap.html' %}

{% block before_content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">State Campaign Finance</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>


{% endblock %}

{% block after_content %}
<footer class="footer mt-auto py-3">
  <div class="container">
    <p class="text-muted text-center">Updated nightly Sunday - Thursday.<br />
      <a href="http://www.github.com/fogarty-ben/state_campaign_finance">See this project on Github</a></p>
  </div>
</footer>
{% endblock %}