{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <hr>
        <div class="row">
            <div class='col'>
                <h3>Contribution #(Insert Contribution ID)</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h5>Candidate/Committee Information</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Field 1:</strong> (Insert)</p>
            </div>
            <div class="col">
                <p><strong>Field 2:</strong> (Insert)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Contributor Information</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Field 1:</strong> (Insert)</p>
            </div>
            <div class="col">
                <p><strong>Field 2:</strong> (Insert)</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Contribution Information</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Field 1:</strong> (Insert)</p>
            </div>
            <div class="col">
                <p><strong>Field 2:</strong> (Insert)</p>
            </div>
        </div>
    </div>
{% endblock %}