{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <hr>
        <div class="row">
            <div class='col'>
                <h3>Contribution #{{ contribution.primary_key }}</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <h5>Candidate/Committee Information</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong> {{ contribution.committee_name }}</strong><br />
                   ID: {{ contribution.committee_cd }}<br />
                   {{ contribution.committee_state}}
                   </p>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <h5>Contributor Information</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>{% if contribution.contrib_first %}{{ contribution.contrib_first }}{% endif %} 
                    {% if contribution.contrib_middle %}{{ contribution.contrib_middle }}{% endif %} 
                    {% if contribution.contrib_last %}{{ contribution.contrib_last }}{% endif %}
                    {% if contribution.contrib_org %}{{ contribution.contrib_org}}{% endif %}</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{ contribution.contrib_addr_line_1 }} {% if contribution.contrib_addr_line_2 %}, {{ contribution.contrib_addr_line_2 }}{% endif %}<br />
                {{ contribution.contrib_zip }}<br />
                {{contribution.contrib_state}} </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>{% if contribution.contrib_occupation %}{{ contribution.contrib_occupation }}<br />{% endif %}
                   {% if contribution.contrib_employer %}{{ contribution.contrib_employer }}{% endif %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Contribution Information</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Amount:</strong> $ {{ contribution.amount }}<br />
                   <strong>Date:</strong> {{ contribution.date }}</p>
            </div>
        </div>
    </div>
{% endblock %}