  <form id="search_form" action="{% url 'search' %}" method="get">
    <div class="form-row">
      <h5>Candidate Information</h5>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <input type="text" class="form-control" name='committee_name' {% if committee_name %}value="{{ committee_name }}"{% else %}placeholder="Candidate/Committee Name"{% endif %}>
        </div>
        <div class="form-group col-md-4">
            <select class="form-control" name="committee_state">
              <option selected disabled style="display:none">{% if committee_state %}{{ committee_state}}{% else %}State{% endif %}</option>
              <option>IA</option>
              <option>TX</option>
            </select>
        </div>
    </div>
    <div class="form-row">
      <h5>Contributor Information</h5>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" name="contrib_name" {% if contrib_name %}value="{{ contrib_name }}"{% else %}placeholder="Contributor Name"{% endif %}>
        </div>
        <div class="form-group col-md-3">
            <input type="text" class="form-control" name="contrib_zip" {% if contrib_zip %}value="{{ contrib_zip }}"{% else %}placeholder="Contributor Zip Code"{% endif %}>
        </div>
        <div class="form-group col-md-3">
              <select class="form-control" name="contrib_state">
              <option selected disabled style="display:none">{% if contrib_state %}{{ contrib_state}}{% else %}State{% endif %}</option>
              <option value="AL">AL</option>
              <option value="AK">AK</option>
              <option value="AR">AR</option>  
              <option value="AZ">AZ</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DC">DC</option>
              <option value="DE">DE</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="IA">IA</option>  
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="MA">MA</option>
              <option value="MD">MD</option>
              <option value="ME">ME</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MO">MO</option>  
              <option value="MS">MS</option>
              <option value="MT">MT</option>
              <option value="NC">NC</option>  
              <option value="NE">NE</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>      
              <option value="NV">NV</option>
              <option value="NY">NY</option>
              <option value="ND">ND</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VT">VT</option>
              <option value="VA">VA</option>
              <option value="WA">WA</option>
              <option value="WI">WI</option>  
              <option value="WV">WV</option>
              <option value="WY">WY</option>
            </select>   
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" name="contrib_occupation" {% if contrib_occupation %}value="{{ contrib_occupation }}"{% else %}placeholder="Contributor Occupation"{% endif %}>
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" name="contrib_employer" {% if contrib_employer %}value="{{ contrib_employer }}"{% else %}placeholder="Contributor Employer"{% endif %}>
        </div>
    </div>
    <div class="form-row">
      <h5>Contribution Information</h5>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
          <label for="min_amount">Minimum Amount</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend2">$</span>
            </div>
            <input type="number" class="form-control" name="min_amount" {% if min_amount %}value="{{ min_amount }}"{% else %}placeholder="Minimum Amount"{% endif %}>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="max_amount">Maximum Amount</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend2">$</span>
            </div>
            <input type="number" class="form-control" name="max_amount" {% if max_amount %}value="{{ max_amount }}"{% else %}placeholder="Maximum Amount"{% endif %}>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="start_date">Start Date</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend2">
                <i class="fas fa-calendar-alt"></i>
              </span>
            </div>
            <input type="date" class="form-control" name="start_date" {% if start_date %}value="{{ start_date }}"{% else %}placeholder="Start Date (mm/dd/yyy)"{% endif %}>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="end_date">End Date</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend2">
                <i class="fas fa-calendar-alt"></i>
              </span>
            </div>
            <input type="date" class="form-control" name="end_date" {% if end_date %}value="{{ end_date }}"{% endif %}>
          </div>
        </div>
    </div>
    <div class="form-row">
      <div class='form-group col-md-4'>
          <input type="hidden" name="page" value='1'>
          <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>